@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
  
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    @apply bg-slate-100 dark:bg-slate-950 text-slate-900 dark:text-white font-sans antialiased;
  }
}